#Income{

    .Text1{
        margin-top: 20vh;
        padding: 3rem;
        border-radius: 30px;
        background-color: rgba(55, 0, 255, 0.966);
        width: 30vw;
    }
    .In{
        margin-left: 10vw;
    }

    .Text2{
        background-color: rgb(240, 6, 240);
        margin-top: 20vh;
        padding: 3rem;
        border-radius: 30px;
        width: 30vw;

    }
    .out{
        margin-right: 10vw;
    }
    .other{
        margin-top: 10px;
    }
    
}
